{% extends 'base.html' %} {% block header %}
<h1 > Menu! </h1>
{% endblock %} {% block content %}
<section class="hero__container container">

<section class="hero__card">
        <br>
        <br>
        <h1>  Aeropuerto Flaminio Suárez Camacho</H1>
            <br>
            <br>
            <br>
            <br>
        <a href="/contacto" class="cta">Reservas</a>
        <a href="/comentarios" class="cta">Calificacion</a>
        <a href="/vuelos" class="cta">Vuelos</a>
        <a href="/user" class="cta">Usuario</a>

   </section> 

</section>

{% endblock %}